{}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "Kotlin",
    "coroutines"
  ],
  "ui_and_cross_platform_frameworks": [
    "jetpack compose"
  ],
  "device_and_platform_services_and_third_party_sdks": [
    "android sdk",
    "exoplayer"
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "objective-c",
    "HTML5"
  ],
  "ui_and_cross_platform_frameworks": [
    "PhoneGap",
  ],
  "build_and_dependency_management": [
    "Xcode"
  ],
  "networking_and_api": [
    "REST API"
  ],
  "version_control": [
    "git"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "swift"
  ],
  "networking_and_api": [
    "restful apis"
  ],
  "development_methodologies": [
    "agile"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "build_and_dependency_management": [
    "xcode"
  ],
  "device_and_platform_services": [
    "healthkit"
  ],
  "testing_frameworks": [
    "unit tests"
  ],
  "version_control": [
    "git"
  ],
  "development_methodologies": [
    "agile",
    "kanban",
    "scrum"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin",
    "rxjava"
  ],
  "architectural_patterns": [
    "mvvm"
  ],
  "dependency_injection_frameworks": [
    "dagger"
  ],
  "build_and_dependency_management": [
    "android studio"
  ],
  "device_and_platform_services": [
    "android sdk"
  ],
  "ci_cd_and_release_automation": [
    "CI",
    "continuous integration"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "version_control": [
    "git"
  ],
  "development_methodologies": [
    "agile"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "data_and_caching": [
    "core data"
  ],
  "device_and_platform_services": [
    "core animation",
    "push notifications"
  ],
  "version_control": [
    "git",
    "mercurial",
    "svn"
  ],
  "ci_cd_and_release_automation": [
    "continuous integration"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "kotlin",
    "rxjava"
  ],
  "testing_frameworks": [
    "ui tests"
  ],
  "development_methodologies": [
    "agile",
    "scrum"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "java"
  ],
  "device_and_platform_services": [
    "android sdk"
  ],
  "security_and_cryptography": [
    "security"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "kotlin"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin"
  ],
  "data_and_caching": [
    "firestore",
    "mongodb",
    "nosql"
  ],
  "networking_and_api": [
    "restful api"
  ],
  "device_and_platform_services": [
    "ble",
    "nfc"
  ],
  "ci_cd_and_release_automation": [
    "CD",
    "CI",
    "ci/cd"
  ]
}

----------------------------------------------------------------------------------------------------

{}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "dart",
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "flutter"
  ],
  "data_and_caching": [
    "sqlite"
  ],
  "device_and_platform_services": [
    "bluetooth"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "ci_cd_and_release_automation": [
    "CD",
    "CI",
    "ci/cd"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin"
  ],
  "ui_and_cross_platform_frameworks": [
    "compose",
    "jetpack",
    "jetpack compose"
  ],
  "architectural_patterns": [
    "clean architecture",
    "mvvm"
  ],
  "networking_and_api": [
    "graphql"
  ],
  "device_and_platform_services": [
    "jetpack"
  ],
  "testing_frameworks": [
    "unit tests"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "swiftui"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "development_methodologies": [
    "agile"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin"
  ],
  "ui_and_cross_platform_frameworks": [
    "android ui"
  ],
  "device_and_platform_services": [
    "camera",
    "location"
  ],
  "security_and_cryptography": [
    "security"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "networking_and_api": [
    "json",
    "rest"
  ],
  "device_and_platform_services": [
    "android sdk"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective c",
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "swiftui"
  ],
  "device_and_platform_services": [
    "ble",
    "bluetooth"
  ],
  "development_methodologies": [
    "agile"
  ],
  "distribution_and_store_operations": [
    "app store"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "python"
  ],
  "third_party_sdks": [
    "cydiasubstrate",
    "frida"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "debugging_or_profiling": [
    "instruments"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "kotlin"
  ],
  "ui_and_cross_platform_frameworks": [
    "compose"
  ],
  "ci_cd_and_release_automation": [
    "CD",
    "CI",
    "ci/cd",
    "continuous integration"
  ],
  "development_methodologies": [
    "agile",
    "scrum"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin"
  ],
  "device_and_platform_services": [
    "android sdk"
  ],
  "distribution_and_store_operations": [
    "play store"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "combine",
    "objective-c",
    "python",
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "swiftui"
  ],
  "networking_and_api": [
    "rest"
  ],
  "development_methodologies": [
    "agile",
    "kanban",
    "scrum"
  ]
}

----------------------------------------------------------------------------------------------------

{}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "coroutines",
    "kotlin"
  ],
  "ui_and_cross_platform_frameworks": [
    "compose",
    "jetpack",
    "jetpack compose"
  ],
  "architectural_patterns": [
    "mvi",
    "mvvm"
  ],
  "networking_and_api": [
    "restful apis",
    "retrofit"
  ],
  "device_and_platform_services": [
    "jetpack"
  ],
  "development_methodologies": [
    "scrum"
  ],
  "collaboration_pm_and_design_handoff": [
    "figma",
    "jira"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "javascript",
    "swift"
  ],
  "data_and_caching": [
    "core data"
  ],
  "backend_or_baas_integration": [
    "aws"
  ],
  "distribution_and_store_operations": [
    "app store"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "combine",
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "swiftui"
  ],
  "build_and_dependency_management": [
    "cocoapods"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin"
  ],
  "networking_and_api": [
    "restful apis"
  ],
  "device_and_platform_services": [
    "android sdk"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "version_control": [
    "git"
  ],
  "ci_cd_and_release_automation": [
    "CD",
    "CI",
    "bamboo",
    "ci/cd",
    "jenkins"
  ],
  "development_methodologies": [
    "agile",
    "scrum"
  ],
  "documentation_and_knowledge_sharing": [
    "confluence"
  ],
  "collaboration_pm_and_design_handoff": [
    "jira"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "data_and_caching": [
    "core data"
  ],
  "device_and_platform_services": [
    "core animation"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "kotlin"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "kotlin"
  ],
  "version_control": [
    "gerrit",
    "git"
  ],
  "collaboration_pm_and_design_handoff": [
    "jira"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "swift"
  ],
  "build_and_dependency_management": [
    "swift package manager",
    "xcode"
  ],
  "networking_and_api": [
    "http",
    "json",
    "rest"
  ],
  "version_control": [
    "git"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "version_control": [
    "git"
  ],
  "development_methodologies": [
    "agile"
  ]
}

----------------------------------------------------------------------------------------------------

{}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin"
  ],
  "ui_and_cross_platform_frameworks": [
    "flutter",
    "react native"
  ],
  "build_and_dependency_management": [
    "android studio",
    "gradle"
  ],
  "networking_and_api": [
    "json",
    "restful apis",
    "retrofit",
    "xml"
  ],
  "backend_or_baas_integration": [
    "aws",
    "aws mobile hub",
    "firebase"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "version_control": [
    "git"
  ],
  "development_methodologies": [
    "agile",
    "kanban",
    "scrum"
  ],
  "distribution_and_store_operations": [
    "google play",
    "play store"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "uikit"
  ],
  "architectural_patterns": [
    "mvc",
    "mvvm",
    "viper"
  ],
  "build_and_dependency_management": [
    "cocoapods"
  ],
  "data_and_caching": [
    "core data"
  ],
  "networking_and_api": [
    "restful apis"
  ],
  "device_and_platform_services": [
    "core animation",
    "push notifications"
  ],
  "testing_frameworks": [
    "xctest"
  ],
  "debugging_or_profiling": [
    "instruments"
  ],
  "version_control": [
    "git"
  ],
  "ci_cd_and_release_automation": [
    "CI",
    "continuous integration",
    "jenkins"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "swiftui"
  ],
  "networking_and_api": [
    "rest",
    "websockets"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "testing_frameworks": [
    "unit tests",
    "xctest"
  ],
  "development_methodologies": [
    "agile"
  ],
  "documentation_and_knowledge_sharing": [
    "openapi"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "kotlin"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "testing_frameworks": [
    "unit tests"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "coroutines",
    "kotlin"
  ],
  "ui_and_cross_platform_frameworks": [
    "compose"
  ],
  "architectural_patterns": [
    "mvvm"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "java",
    "kotlin"
  ],
  "build_and_dependency_management": [
    "android studio"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "swiftui"
  ],
  "backend_or_baas_integration": [
    "amplify",
    "aws",
    "aws sdk",
    "cognito",
    "s3"
  ],
  "device_and_platform_services": [
    "arkit"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "testing_frameworks": [
    "unit tests"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "device_and_platform_services": [
    "location",
    "push notifications"
  ],
  "ci_cd_and_release_automation": [
    "CD",
    "CI"
  ],
  "development_methodologies": [
    "scrum",
    "tdd"
  ],
  "distribution_and_store_operations": [
    "app store",
    "itunes"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "ui_and_cross_platform_frameworks": [
    "flutter",
    "ionic"
  ],
  "architectural_patterns": [
    "mvc",
    "mvp",
    "mvvm"
  ],
  "build_and_dependency_management": [
    "xcode"
  ],
  "networking_and_api": [
    "alamofire",
    "json",
    "rest",
    "rest api",
    "xml"
  ],
  "version_control": [
    "git"
  ],
  "ci_cd_and_release_automation": [
    "continuous integration"
  ],
  "development_methodologies": [
    "agile"
  ],
  "distribution_and_store_operations": [
    "app store",
    "itunes",
    "play store"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "java",
    "javascript",
    "kotlin"
  ],
  "build_and_dependency_management": [
    "android studio"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "version_control": [
    "git"
  ],
  "development_methodologies": [
    "agile"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "coroutines",
    "java",
    "kotlin"
  ],
  "ui_and_cross_platform_frameworks": [
    "android ui",
    "compose"
  ],
  "architectural_patterns": [
    "mvi"
  ],
  "networking_and_api": [
    "restful apis"
  ],
  "version_control": [
    "git"
  ],
  "ci_cd_and_release_automation": [
    "circleci"
  ],
  "collaboration_pm_and_design_handoff": [
    "jira"
  ]
}

----------------------------------------------------------------------------------------------------

{}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "swift"
  ],
  "build_and_dependency_management": [
    "swift package manager"
  ],
  "networking_and_api": [
    "restful apis"
  ],
  "device_and_platform_services": [
    "ble"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "kotlin"
  ],
  "ui_and_cross_platform_frameworks": [
    "compose",
    "jetpack",
    "jetpack compose"
  ],
  "architectural_patterns": [
    "mvc",
    "mvvm",
    "redux"
  ],
  "networking_and_api": [
    "graphql"
  ],
  "device_and_platform_services": [
    "jetpack"
  ],
  "ci_cd_and_release_automation": [
    "continuous integration"
  ]
}

----------------------------------------------------------------------------------------------------

{
  "languages_and_runtimes": [
    "c",
    "objective-c",
    "swift"
  ],
  "build_and_dependency_management": [
    "xcode"
  ],
  "security_and_cryptography": [
    "security"
  ],
  "debugging_or_profiling": [
    "checkmarx",
    "veracode"
  ]
}